* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: xx-large;
}

#players {
    display: flex;
    gap: 30px;
}

#grid {
    margin: 50px;
    display: grid;
    aspect-ratio: 1;
    grid-template: repeat(3, max(150px, calc(100% / 3))) / repeat(3, max(150px, calc(100% / 3)));
    align-self: stretch;
}

#grid > * {
    font-size: xxx-large;
}

dialog {
    margin: auto;
}

form {
    display: flex;
    padding: 50px 50px 40px 50px;
    gap: 20px;
}

dialog > button {
    width: 100%;
}

.player-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}

